sources used for the data


On IMBD I want to find the best tv shows and then determine which streaming platform is the best to become a member of

- Title
- Rating
- Release date
- Director

Import all the neccesary libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

In [2]:
url = "https://www.imdb.com/chart/toptv"
res = requests.get(url)
soup = BeautifulSoup(res.content, "html.parser")

Get the title of the series in the top 250

In [3]:
titles = soup.select("td.titleColumn a")
series = [i.get_text() for i in titles]

Get the rating of the series

In [4]:
get_rating = soup.select("td.ratingColumn strong")
rating = [i.get_text() for i in get_rating]

In [5]:
release_date = soup.select("td.titleColumn span")
year = [element.get_text()[1:-1] for element in release_date]
year[0]

'2016'

Find the directors

In [6]:
find_director = soup.select("td.titleColumn a")
director = [element.get("title").split("(dir.),")[0].strip() for element in find_director]

create the set-up for the dataframe (dictonary form)

In [7]:
IMDB = {
    "Title":series,
    "Rating":rating,
    "Year":year,
    "Director": director,
}

Create the dataframe 
Set the title to .lower(). this makes doing the match later on easier as all characters will be .lower().

In [8]:
IMDB_df = pd.DataFrame(IMDB)
IMDB_df['Title'] = IMDB_df['Title'].str.lower()

In [9]:
IMDB_df

                    Title Rating  Year                              Director
0         planet earth ii    9.4  2016    David Attenborough, Chadden Hunter
1            breaking bad    9.4  2008            Bryan Cranston, Aaron Paul
2            planet earth    9.4  2006  Sigourney Weaver, David Attenborough
3        band of brothers    9.4  2001            Scott Grimes, Damian Lewis
4               chernobyl    9.3  2019          Jessie Buckley, Jared Harris
..                    ...    ...   ...                                   ...
245  clannad: after story    8.4  2008       Yûichi Nakamura, David Matranga
246                 ozark    8.4  2017           Jason Bateman, Laura Linney
247               gintama    8.4  2005    Tomokazu Sugita, Daisuke Sakaguchi
248           foyle's war    8.4  2002    Michael Kitchen, Honeysuckle Weeks
249          harley quinn    8.4  2019                Kaley Cuoco, Lake Bell

[250 rows x 4 columns]

Set Title as index for the merge

In [10]:
IMDB_df = IMDB_df.set_index("Title")

I want to add the genre to the dataframe

In [11]:
IMDB_series_df = IMDB_df
IMDB_series_df.to_csv("IMDB_serie.csv", index=True)

fixed the language issue by using ExpressVPN