sources used for the data

On IMBD I want to find the best movies and then determine which streaming platform is the best to become a member of

- Title
- Rating
- Release date
- Director

Import all the neccesary libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

In [2]:
url = "https://www.imdb.com/chart/top/"
res = requests.get(url)
soup = BeautifulSoup(res.content, "html.parser")

Get the title of the movies in the top 250

In [3]:
title = soup.select("td.titleColumn a")
movie_name = [i.get_text() for i in title]

Get the rating of the movie

In [4]:
get_rating = soup.select("td.ratingColumn strong")
rating = [i.get_text() for i in get_rating]

In [5]:
release_date = soup.select("td.titleColumn span")
year = [element.get_text()[1:-1] for element in release_date]
year[0]

'1994'

Find the directors

In [6]:
find_director = soup.select("td.titleColumn a")
director = [element.get("title").split("(dir.),")[0].strip() for element in find_director]

In [7]:
IMDB_movies = {
    "Title":movie_name,
    "Rating":rating,
    "Year":year,
    "Director": director,
}

In [8]:
IMDB_df = pd.DataFrame(IMDB_movies)
IMDB_df

                        Title Rating  Year              Director
0    The Shawshank Redemption    9.2  1994        Frank Darabont
1               The Godfather    9.2  1972  Francis Ford Coppola
2             The Dark Knight    9.0  2008     Christopher Nolan
3       The Godfather Part II    9.0  1974  Francis Ford Coppola
4                12 Angry Men    8.9  1957          Sidney Lumet
..                        ...    ...   ...                   ...
245                    Gandhi    8.0  1982  Richard Attenborough
246                   Aladdin    8.0  1992          Ron Clements
247                  The Help    8.0  2011           Tate Taylor
248                  Jai Bhim    8.0  2021         T.J. Gnanavel
249      Beauty and the Beast    8.0  1991        Gary Trousdale

[250 rows x 4 columns]

In [9]:
IMDB_df['Title'] = IMDB_df['Title'].str.lower()

Set Title as index for merge

In [10]:
IMDB_df = IMDB_df.set_index("Title")

Renaming the df for the merge document later on

In [11]:
IMDB_movies_df = IMDB_df
IMDB_movies_df.to_csv("IMDB_movie.csv", index=True)

In [12]:
IMDB_df

                         Rating  Year              Director
Title
the shawshank redemption    9.2  1994        Frank Darabont
the godfather               9.2  1972  Francis Ford Coppola
the dark knight             9.0  2008     Christopher Nolan
the godfather part ii       9.0  1974  Francis Ford Coppola
12 angry men                8.9  1957          Sidney Lumet
...                         ...   ...                   ...
gandhi                      8.0  1982  Richard Attenborough
aladdin                     8.0  1992          Ron Clements
the help                    8.0  2011           Tate Taylor
jai bhim                    8.0  2021         T.J. Gnanavel
beauty and the beast        8.0  1991        Gary Trousdale

[250 rows x 3 columns]

fixed the language issue by using ExpressVPN